<h1>Edit note</h1>
<p>congratulations!  you've updated the following note:</p>
<blockquote>
  <b>title:</b>
    <%= @note.title %>
  <br>
  <b>content:</b>
    <%= @note.content %>
  <br>
</blockquote>
