<h1>Create new note</h1>
<p>congratulations!  you've created the following note:</p>
<blockquote>
  <b>name:</b>
    <%= @note.name %>
  <br>
  <b>content:</b>
    <%= @note.content %>
  <br>
</blockquote>
<a href="/">go back to the list</a>
