.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

#page-title {
  padding: 20px;

}

.action-button{
  position: relative;
  padding: 5px;
  float: right;
  top: -70px;
}

.button-small {
  position: relative;
  padding: 5px;
  float: right;
  top: -60px;
  right: -15px;
  font-size: 0.5em;
}

.note {
  border: solid 1px gray;
  margin: 20px;
  padding: 10px;
}

.note .title {
  display:inline-block;
  background-color: white;
  position: relative;
  top: -25px;
  left: -5px;
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

.note .content {
  position: relative;
  top: -20px;
  font-size: 0.75em;
}