.container {
  margin: 10px auto;
  width: 600px;
  padding: 10px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

#page-title {
  padding: 20px;
}

.action-button{
  position: relative;
  padding: 5px;
  float: right;
  top: -70px;
  left: -10px;
}

.note {
  position: relative;
  border: solid 1px gray;
  margin: 20px;
  padding: 10px;
}

.note .title {
  position: relative;
  display:inline-block;
  background-color: white;
  top: -25px;
  left: -5px;
  padding: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

.note .content {
  position: relative;
  top: -20px;
  font-size: 0.75em;
  overflow: auto;
}

.delete {
  position: absolute;
  padding: 5px;
  font-size: 0.5em;
  top: -10px;
  right: -10px;
}

#create-note input[type=text] {
  position: relative;
  margin-left: 20px;
}

#create-note textarea {
  position: relative;
  display: block;
}

.delete .button-small{
  position: relative;
}

/***********************************************
    == animation for flash notice ==

this animation stuff is a total pile of shit.

seriously, who are these people and what are
they smoking?

here's the link that i copy-pasted this from
http://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load

and the one i skimmed before that
http://davidwalsh.name/vendor-prefixes
(david walsh has some great stuff, btw)
************************************************/

.alert {
  padding: 20px;

  -webkit-animation: fadein 1s; /* Safari and Chrome */
     -moz-animation: fadein 1s; /* Firefox */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera */
          animation: fadein 1s;
}

@keyframes fadein {
    from { background-color: #FF721C; }
    to   { background-color: white; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { background-color: #FF721C; }
    to   { background-color: white; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { background-color: #FF721C; }
    to   { background-color: white; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { background-color: #FF721C; }
    to   { background-color: white; }
}​

/***********************************************
END: animation shit
***********************************************/

